<!DOCTYPE html>
<html>
  <head>
    <title>Colchonet</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Pacifico'>
  </head>
  <body>
    <header>
      <div id="header-wrap">
        <h1><%= link_to "colcho.net", root_path %></h1>
        <div><%= link_to "EN", url_for( locale: 'en' ) %> | <%= link_to "PT-BR", url_for( locale: 'pt-BR' ) %></div>
        <nav>
          <ul>
            <li><%= link_to t('layout.rooms'), rooms_path %></li>
            <li><%= link_to t('layout.signup'), new_user_path %></li>
          </ul>
        </nav>
    </header>

    <div id="content">
      <% if notice.present? %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p id="alert"><% alert %></p>
      <% end %>

      <%= yield %>
    </div>
    
  </body>
</html>
