<!DOCTYPE html>
<html>
  <head>
    <title>Colchonet</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Pacifico'>
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

  </head>
  <body>
    <header>
      <div id="header-wrap">
        <h1><%= link_to "colcho.net", root_path %></h1>
        <div><%= link_to "EN", url_for( locale: 'en' ) %> | <%= link_to "PT-BR", url_for( locale: 'pt-BR' ) %></div>
        <% if user_signed_in? %>
          <%= render 'layouts/user_navbar' %>
        <% else %>
          <%= render 'layouts/visitor_navbar' %>
        <% end %>
      </div>
    </header>

    <div id="content">
      <% flash.each do |name, message| %>
        <div id="<%= name %>"><%= message.html_safe %></div>
      <% end %>

      <%= yield %>
    </div>
    
  </body>


</html>
